/* CUSTOM PROPERTIES
-------------------------------*/
:root {
  --darkgray:        #333333;
  --blacky:          #000000;
  --darkpurple:      #4028d8b7;
  --marineblue:      #0b57d0; /* rgb(11 87 208) */
  --purpleblue:      #483d8b;
  --whitesmoke:      #f5f5f5;
  --color-dark:       var(--darkgray);
  --color-light:      var(--whitesmoke);
  --color-primary:    var(--marineblue);
  --color-darkest:    var(--blacky);
  --font-size-h1:         5.5rem;
  --font-size-h2:         2.4rem;
  --font-size-h3:         1.2rem;
  --font-size-h4:         1rem;
  --font-size-base:       1rem;
  --font-size-welcome:    1.4rem;
  --font-size-tagline:    1rem;
  --font-size-small:      0.8rem;
}

/* Global Styles
-------------------------------*/
/*Alternative box model*/
/* html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html, body{
  height: 100%;
}*/

body {
  font-size: var(--font-size-base);
  line-height: 1.4;
} 

h1, h2, h3, h4 {
  margin: 0;
}
h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}

/* Global reusable classes */
.bg-darkest {
  background: var(--color-darkest);
  color: var(--color-light)
}
.bg-dark {
  background: var(--color-dark);
  color: var(--color-light)
}
.bg-light {
  background: var(--color-light);
  color: var(--color-dark)
}
.bg-primary {
  background: var(--color-primary);
  color: var(--color-light)
}
.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.content-wrap {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

a {
  color: var(--color-dark);
}
.bg-darkest a, .bg-dark a, .bg-primary a {
  color: var(--color-light);
}


/* Header + Nav
-------------------------------*/
header {
  height: 100%;
  background-image: linear-gradient(rgb(11 87 208 / .5),
                                    rgb(11 87 208 / .5)),
                                    url(images/bg-scientist-observing.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
header hgroup {
  border: 5px solid var(--color-light);
  padding: 30px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 9999;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
}
.nav-list a {
  display: inline-block;
  padding: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}
.nav-list a:hover {
  text-decoration: underline;
}


/* Welcome
-------------------------------*/
.welcome {
  font-size: var(--font-size-welcome);
  text-align: center;
}
.welcome h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* margin-bottom: 0; */
}


/* EMPLOYEE BODY
-------------------------------*/

/* Employee body main content wrapper
-------------------------------*/
.main-content-container {
  display: grid;
  grid-template-columns: 380px 1fr;
  grid-template-rows: 1fr;
  gap: 25px;
  /* margin-top: 20px; */
}
.main-content-container.content-wrap {
  max-width: 1000px;
}


/* Left Side - Gallery
-------------------------------*/
.side-gallery img {
  display: block;
  max-width: 100%;
}


/* Right side - Announcements
-------------------------------*/
.announcements {
  font-family: Arial;
  grid-column: 2 / 3;
  text-align: left;
}

.announcements h2 {
  color: dodgerblue;
  font-family: Cambria;
  margin-top: -13px;
  margin-bottom: 20px;
}

.announcement-item {
  margin-bottom: 30px;
}
.announcement-item p {
  margin-top: 10px;
  margin-bottom: 0;
}

/* PUBLIC BODY
-------------------------------*/
.about-section {
  height: fit-content;
  background-image: linear-gradient(var(--color-primary),
                                    rgb(2, 21, 52));
  color: var(--color-light);
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 0;
}

.about-section .content-wrap {
  border-top: var(--color-light) solid 3px;
  padding-top: 50px;
  max-width: 800px;
}

/* .about-section h2 {
  display: inline-block;
  border-top: var(--color-light) solid 5px;
} */

.scrolly-telling-container {
  /* padding-top: 100px; */
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 200px;
  width: 100%;
}

.scrolly-telling-container p, .scrolly-telling-container i {
  display: inline-block;
  /* border: solid red 5px; */
  max-width: 75%;
  font-size: var(--font-size-welcome);
  word-wrap: normal;
}

.scrolly-telling-container i {
  font-size: var(--font-size-h2);
  margin: 0 auto;
}

.scrolly-telling-container img {
  display: inline-block;
  max-width: 80%;
  opacity: 0.8;
  z-index: 1;
}

.block-left {
  margin-right: auto;
  margin-left: 0;
}

.block-right {
  margin-right: 0;
  margin-left: auto;
}



/* Footer
-------------------------------*/
footer {
  text-align: center;
  padding: 30px;
}

.copyright {
  font-size: var(--font-size-small);
}