/* Global Styles
-------------------------------*/
/*Alternative box model*/
html {
  box-sizing: border-box;
  /* background: lightcoral; */
}
*, *::before, *::after {
  box-sizing: inherit;
}

html, body{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%
}